<template>
  <div class="home">
    <div class="logo">
      <img src="@/assets/logo.svg"  />
    </div>

    <p class="title">Face recognition</p>
    <p class="info">We help businesses verify their customers.</p>
    <img src="@/assets/scientific_face.svg" class="face" />

    <p class="test-text">Test it now</p>
    <p class="test-text-info">in 3 easy steps</p>

    <UploadSteps v-if="!loading" />
    <img
      src="@/assets/loading-spinner-yellow.svg"
      alt="loading..."
      v-if="loading"
      class="spinner"
    />

    <p class="step-verification-text">3-step verification</p>

    <div class="step-verification-container">
      <div>
        <img src="@/assets/take_selfie.svg" />
        <p>Take a selfie</p>
      </div>
      <div>
        <img src="@/assets/record_video.svg" />
        <p>Record a 5 sec video</p>
      </div>
      <div>
        <img src="@/assets/get_answer.svg" />
        <p>Get an answer</p>
      </div>
    </div>

    <p class="step-verification-text">Documentation</p>
    <p class="test-text-info">API integration is absolutely FREE</p>

    <div class="success-info-container">
      <img src="@/assets/documentation.svg" />

      <div class="documentation-container">
        <p class="documentation">
          An application program interface (API) is a set of routines,
          protocols, and tools for building software applications. Basically, an
          API specifies how software components should interact. Using our API
          you can easily and absolutely free recognize, compare faces
          automatically. We guarantee that all images after analyzing will be
          deleted and cannot be used anywhere. To get more information about
          web-services download instruction.
        </p>
        <a
          class="download-btn"
          href="https://datalearning.az/API-Application_v2.8.pdf"
          target="_blank"
          download
          >Download</a
        >
      </div>
    </div>

    <p class="we-verified-text">Contact us</p>
    <p class="test-text-info">
      Do not hesitate to contact us whenever you have a question
    </p>

    <div class="success-info-container">
      <img src="@/assets/user-mail.svg" />

      <div>
        <p class="test">Ramin Hashimzade</p>
        <p class="test">Founder</p>
        <p class="test" style="font-size: 12px">
          Email: ramin.hashimzade@gmail.com
        </p>
        <p class="test" style="font-size: 12px">Tel: +994 50 391 58 98</p>
      </div>
    </div>

    <p class="we-verified-text">We verified</p>

    <div class="success-info-container">
      <img src="@/assets/user-computer.svg" />
      <div>
        <p class="count">{{ verfiedcount }}</p>
        <p class="user">users</p>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapActions } from "vuex";
import UploadSteps from "@/components/UploadSteps.vue";
import { APIService } from "@/APIService";
const apiService = new APIService();
export default {
  name: "Home",
  components: {
    UploadSteps,
  },
  data() {
    return {
      loading: true,
      verfiedcount: null,
    };
  },

  mounted() {
    this.loading = true;
    apiService
      .getSessionId({})
      .then((response) => {
        console.log("Home --- getSessionId --- response");
        console.log(response);
        this.updateSessionId(response.data.data);

        this.loading = false;
      })
      .catch((error) => {
        console.log("Home --- getSessionId --- error");
        console.log(error);
        this.loading = false;
      });

    apiService
      .verfiedcount({})
      .then((response) => {
        console.log("Home --- verfiedcount --- response");
        console.log(response);
        this.verfiedcount = response.data.data.count;
      })
      .catch((error) => {
        console.log("Home --- verfiedcount --- error");
        console.log(error);
      });
  },
  methods: {
    ...mapActions(["updateSessionId"]),
  },
};
</script>

<style lang="scss" scoped>
.home {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  .spinner {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo {
    margin-top: 30px;
    margin-bottom: 166px;
    width: 100px;
    height: 100px;
  }
  .face {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    width: 724px;
    height: 724px;
  }
  .title {
    font-weight: 600;
    font-size: 64px;
    color: #000000;
  }
}
.info {
  font-size: 36px;
  color: #000000;
  width: 508px;
  margin-top: 12px;
}
.test-text {
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  margin-top: 363px;
  text-align: center;
}
.test-text-info {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #f48482;
  text-align: center;
}
.we-verified-text {
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  text-align: center;
  margin-top: 200px;
}

.success-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  img {
    width: 500px;
    height: 500px;
  }

  .count {
    font-weight: 600;
    font-size: 144px;
    color: #f48482;
    text-align: center;
  }
  .user {
    font-weight: 600;
    font-size: 64px;
    color: #606060;
    text-align: center;
  }
}
.documentation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  .documentation {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-left: 100px;
  }
  .download-btn {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    width: 296px;
    height: 80px;
    background: #f48482;
    border-radius: 10px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
.step-verification-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  text-align: center;
}
.step-verification-container {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 200px;
  padding: 0 100px;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #000000;
  p {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
  }
}
.test {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

@media only screen and (max-width: 1200px) {
  .home {
    .face {
      position: relative;
      width: 237px;
      height: 237px;
      left: 50%;
      transform: translateX(-50%);
    }
    .test {
      font-size: 18px;
      text-align: center;
    }
    .we-verified-text {
      margin-top: 36px;
      font-size: 18px;
    }
    .step-verification-text {
      font-size: 18px;
    }
    .upload-steps {
      margin-bottom: 20px;
    }
    .test-text-info {
      font-size: 14px;
      width: 217px;
      line-height: 21px;
      margin: 5px auto;
    }
    .logo {
      margin: 0 auto;
      margin-top: 24px;
      display: flex;
      justify-content: center;
      img {
        height: 80px;
        width: 80px;
      }
    }
    .step-verification-container {
      justify-content: center;
      margin: 0;
      padding: 0;
      p {
        font-size: 14px;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
    .upload-steps .main-container {
      flex-direction: column;
    }
  }
  .success-info-container {
    flex-direction: column;
    margin-top: 10px;
    .count {
      font-size: 72px;
    }
    .user {
      font-size: 48px;
    }
  }
  .info {
    width: 100%;
  }
  .title {
    font-size: 24px !important ;
    text-align: center;
  }
  .info {
    font-size: 18px !important;
    text-align: center;
  }
  .test-text {
    margin-top: 16px !important;
    font-size: 18px;
  }

  .documentation-container {
    margin-top: 39px;
    .documentation {
      margin-top: 32px;
      margin-left: 0;
      padding: 0 16px;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }
    .download-btn {
      width: 148px;
      height: 40px;
      font-size: 14px;
    }
  }
}

.success-info-container {
  img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .step-verification-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
</style>
