<template>
  <div>
    <div class="success" id="success">
      <div id="no-api" v-show="!apiActive">
        <div class="success-icon-contaoner" :class="success">
          <img
            src="@/assets/checkmark.svg"
            class="checkmark"
            v-show="success == 'success'"
          />
          <img
            src="@/assets/loading-spinner-yellow.svg"
            alt="loading..."
            v-if="successClass == 'pending'"
            class="spinner"
          />
          <img
            src="@/assets/fail.svg"
            class="fail"
            v-show="success == 'fail'"
          />
        </div>
        <div
          class="result-img"
          v-show="success == 'success' || success == 'fail'"
        >
          <img src="" id="result-img" />
        </div>
        <p class="success-text" v-if="success == 'success'">
          Successfully identified!
        </p>
        <p class="success-text" v-if="success == 'fail'">Unsuccessful</p>
        <p class="success-text-detail" v-if="successClass == true">
          Target person found
        </p>
        <p class="success-text-detail" v-if="successClass == false">
          Target person not found
        </p>
        <div class="api-button-container" @click="showApi">
          <span v-if="success == 'success' || success == 'fail'">Show API</span>
          <img
            src="@/assets/api.svg"
            v-if="success == 'success' || success == 'fail'"
          />
        </div>
      </div>
      <code class="api" id="api" v-show="apiActive">
        <div class="api-inner" id="api-inner"></div>
        <div class="api-button-container" @click="hideApi">
          <span>Show Result</span>
          <img src="@/assets/api.svg" />
        </div>
      </code>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { APIService } from "@/APIService";
const apiService = new APIService();
export default {
  name: "Success",
  data() {
    return {
      success: "pending",
      successClass: "pending",
      api: "",
      apiActive: false,
    };
  },
  mounted() {
    const d = {
      sessionId: this.sessionId,
      tExt: this.targetExt,
      sExt: this.sourceExt,
    };

    console.log(d);
    apiService
      .identify(d)
      .then((response) => {
        console.log("Success --- identify --- response");
        console.log(response);
        this.success = response.data.success == true ? "success" : "fail";
        for (let face of response.data.data.faces) {
          this.successClass = face.samePerson;
          console.log(face.samePerson);
          if (face.samePerson == true) {
            break;
          }
        }
        this.api = response.data.data;
        document.getElementById(
          "result-img"
        ).src = `https://api.datalearning.az/faceidentify/getFile/${this.sessionId}R.jpg`;
      })
      .catch((error) => {
        console.log("Success --- identify --- error");
        console.log(error);
        this.success = "fail";
        this.successClass = "error";
      });
  },
  methods: {
    showApi() {
      this.apiActive = true;
      // document.getElementById("no-api").style.display = "none";
      document.getElementById("api-inner").innerHTML = JSON.stringify(
        this.api,
        null,
        2
      );
      document.getElementById("success").classList.toggle("active");
    },
    hideApi() {
      this.apiActive = false;
      // document.getElementById("no-api").style.display = "none";
      document.getElementById("api-inner").innerHTML = "";
      document.getElementById("success").classList.toggle("active");
    },

    // getFile() {
    //   apiService
    //     .getFile(this.sessionId)
    //     .then((response) => {
    //       console.log("Success --- getFile --- response");
    //       console.log(response);
    //     })
    //     .catch((error) => {
    //       console.log("Success --- getFile --- error");
    //       console.log(error);
    //     });
    // },
  },
  computed: {
    ...mapState(["sessionId", "targetExt", "sourceExt"]),
  },
};
</script>

<style lang="scss" scoped>
.result-img {
  text-align: center;
  img {
    width: 150px !important;
    height: 150px !important;
  }
}
.success {
  width: 500px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 24px;
  .api-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    span {
      padding-right: 16px;
    }
  }
  .success-icon-contaoner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    &.success {
      background: #0fdb85;
      margin: 10px auto;
    }
    &.fail {
      background: red;
      margin: 30px auto;
    }
  }
  .success-text {
    font-weight: 600;
    font-size: 36px;
    color: #000000;
  }
  .success-text-detail {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #606060;
    margin-top: 12px;
  }
  p {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #606060;
    width: 400px;
  }
  .spinner {
    width: 80px;
    height: 80px;
    padding-top: 20px;
  }
  code {
    width: 400px;
    font-size: 18px;
    overflow-wrap: anywhere;
    line-height: 27px;
  }
  transition: transform 0.6s;
  transform-style: preserve-3d;

  .no-api,
  .api {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .no-api {
  }

  .api {
    transform: rotateY(180deg);
    overflow-y: scroll;
  }
}

.success.active {
  transform: rotateY(181deg);
}
@media only screen and (max-width: 1200px) {
  .result-img {
    text-align: center;
    img {
      width: 80px !important;
      height: 80px !important;
    }
  }
  .success {
    width: 250px;
    height: 250px;
    .api-button-container {
      margin-top: 20px;
      span {
        padding-right: 16px;
      }
    }
    .success-icon-contaoner {
      width: 50px;
      height: 50px;
      margin-bottom: 4px;
    }
    .success-text {
      font-size: 18px;
    }
    .success-text-detail {
      font-size: 14px;
      margin-top: 8px;
    }
    img {
      width: 30px;
      height: 30px;
    }
    code {
      width: 220px;
      font-size: 10px;
      overflow-wrap: anywhere;
      line-height: 20px;
    }
  }
}
</style>