<template>
  <div
    @dragover="dragover"
    @dragleave="dragleave"
    @drop="drop"
    class="file-drag-drop-field"
  >
    <img
      src="@/assets/upload.png"
      class="upload-source-image"
      id="upload-source-image"
      @click="focusOnFile"
    />
    <label for="assetsFieldHandle"
      >Click to upload your source image or simply drag & drop</label
    >
    <input
      type="file"
      multiple
      name="fields[assetsFieldHandle][]"
      id="assetsFieldHandle"
      @change="onChange"
      ref="file"
    />
    <img
      src="@/assets/loading-spinner-yellow.svg"
      alt="loading..."
      v-if="loading"
      class="spinner"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { APIService } from "@/APIService";
const apiService = new APIService();
export default {
  name: "UploadFiles",
  delimiters: ["${", "}"], // Avoid Twig conflicts
  data() {
    return {
      filelist: [], // Store our uploaded files
      loading: null,
    };
  },
  mounted() {
    if (this.sourceImg) {
      document.getElementById("upload-source-image").src = this.sourceImg;
    }
  },
  methods: {
    ...mapActions(["updateSourceExt", "updateSourceImg"]),
    focusOnFile() {
      console.log(document.getElementById("assetsFieldHandle"));
      document.getElementById("assetsFieldHandle").click();
    },
    onChange() {
      this.filelist = [];
      console.log("chchch");
      console.log(this.filelist);
      const newFileArr = [...this.$refs.file.files, ...this.filelist];
      if (newFileArr.length > 1) {
        alert("Faylların sayı 1-dən çoxdur");
        return;
      }
      if (this.checkSize(newFileArr)) {
        alert("Faylın həcmi 3mb-dan çoxdur");
        return;
      }
      this.filelist = newFileArr;
      this.$emit("filesChanged", this.filelist);
      this.getBase64(newFileArr[0]).then((data) => {
        const d = {
          sessionId: this.sessionId,
          side: "S",
          fileName: newFileArr[0].name,
          file: data.split(",")[1],
        };

        this.loading = true;

        apiService
          .postFile(d)
          .then((response) => {
            console.log("UploadFiles --- postFile --- response");
            console.log(response);
            this.loading = false;
            document.getElementById("upload-source-image").src = data;
            this.updateSourceExt(newFileArr[0].name.split(".")[1]);
            this.updateSourceImg(data);
          })
          .catch((error) => {
            console.log("UploadFiles --- postFile --- error");
            console.log(error);
            this.loading = false;
          })
          .finally(() => {
            this.filelist = [];
          });
      });
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },
    remove(i) {
      this.filelist.splice(i, 1);
    },
    dragover(event) {
      event.preventDefault();
      // Add some visual fluff to show the user can drop its files
      if (!event.currentTarget.classList.contains("gray")) {
        event.currentTarget.classList.add("gray");
      }
    },
    dragleave(event) {
      // Clean up
      event.currentTarget.classList.remove("gray");
    },
    drop(event) {
      event.preventDefault();
      this.$refs.file.files = event.dataTransfer.files;
      this.onChange(); // Trigger the onChange event manually
      // Clean up
      event.currentTarget.classList.remove("gray");
    },
    checkSize(array) {
      let res = false;
      array.forEach((element) => {
        if (element.size / 1024 / 1024 > 3) res = true;
      });

      return res;
    },
  },
  computed: {
    ...mapState(["sessionId", "sourceImg"]),
  },
};
</script>

<style lang="scss" scoped>
.file-drag-drop-field {
  width: 500px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 24px;
  .upload-source-image {
    width: 184px;
    height: 184px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  label {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #606060;
    width: 400px;
    cursor: pointer;
  }
  &.gray {
    background: rgb(228, 228, 228);
  }
  input {
    display: none;
  }
  .spinner {
    width: 80px;
    height: 80px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .file-drag-drop-field {
    width: 308px;
    height: 308px;
    .upload-source-image {
      width: 100px;
      height: 100px;
    }
    label {
      font-size: 14px;
      width: 252px;
      line-height: 21px;
    }
    .spinner {
      width: 40px;
      height: 40px;
      padding-top: 10px;
    }
  }
}

// .slide-or-upload-document {
//   max-width: 780px;
//   height: 96px;
//   background: #f9f9f9;
//   border: 1px dashed #dadada;
//   box-sizing: border-box;
//   margin-top: 24px;
//   font-size: 14px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   label {
//     text-decoration-line: underline;
//     color: #61259e;
//     margin-right: 12px;
//     cursor: pointer;
//   }

//   span {
//     font-weight: 300;
//     color: #232323;
//   }
//   input {
//     display: none;
//   }

//   &.gray {
//     background: rgb(228, 228, 228);
//   }
// }
</style>