
<template>
  <div class="upload-steps">
    <div class="main-container">
      <div class="left-side">
        <div class="upload-step" :class="{ active: active == 1 }">
          <div class="step-number">1</div>
          <span class="step-text">Upload target image</span>
        </div>
        <div class="upload-step" :class="{ active: active == 2 }">
          <div class="step-number">2</div>
          <span class="step-text">Upload source image</span>
        </div>
        <div class="upload-step" :class="{ active: active == 3 }">
          <div class="step-number">3</div>
          <span class="step-text">Show results</span>
        </div>
      </div>
      <div class="right-side">
        <img
          src="@/assets/back_button.svg"
          alt="back_button"
          class="left-arrow"
          @click="active--"
          :class="{ active: active > 1 }"
        />
        <UploadTargetImage v-if="active == 1" />
        <UploadSourceImage v-if="active == 2" />
        <Success v-if="active == 3" />

        <img
          src="@/assets/next_button.svg"
          alt="back_button"
          class="right-arrow"
          @click="active++"
          :class="{ active: ((active == 1 && targetImg) || (active == 2 && sourceImg)) }"
        />
      </div>
    </div>
    <div class="button-container-mobile">
      <img
        src="@/assets/back_button.svg"
        alt="back_button"
        class="left-arrow"
        @click="active--"
        :class="{ active: active > 1 }"
      />
      <img
        src="@/assets/next_button.svg"
        alt="back_button"
        class="right-arrow"
        @click="active++"
        :class="{ active: active < 3 }"
        v-show="(active == 1 && targetImg) || (active == 2 && sourceImg)"
      />
    </div>
  </div>
</template>

<script>
import UploadTargetImage from "@/components/UploadTargetImage";
import UploadSourceImage from "@/components/UploadSourceImage";
import Success from "@/components/Success";
import { mapState } from "vuex";

export default {
  name: "UploadSteps",
  components: {
    UploadTargetImage,
    UploadSourceImage,
    Success,
  },
  data() {
    return {
      active: 1,
    };
  },
  computed: {
    ...mapState(["targetImg", "sourceImg"]),
  },
};
</script>

<style lang="scss" scoped>
.upload-steps {
  margin-top: 64px;
  margin-bottom: 200px;
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side {
      .upload-step {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 48px;
        padding: 0 100px;
        &.active {
          .step-number {
            color: #f48482;
          }
          .step-text {
            color: #000000;
          }
        }
        .step-number {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid #f48482;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 36px;
          color: #f4848293;
          margin-right: 48px;
        }
        .step-text {
          font-weight: 600;
          font-size: 36px;
          color: #00000096;
        }
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;

      .left-arrow,
      .right-arrow {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #ffe6e2;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        cursor: pointer;
        &.active {
          visibility: visible;
        }
      }
    }
  }
  .button-container-mobile {
    display: none;
    justify-content: center;
    .left-arrow,
    .right-arrow {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      cursor: pointer;
      &.active {
        visibility: visible;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .button-container-mobile {
    display: flex !important;
    img {
      width: 40px !important;
      height: 40px !important;
    }
    img:first-of-type {
      margin-right: 48px;
    }
  }
  .upload-steps .main-container {
    margin-bottom: 20px;
    flex-direction: column;
    .right-side {
      .left-arrow,
      .right-arrow {
        display: none;
      }
    }
    .left-side {
      .upload-step {
        padding: 0;
        margin: 0 0 18px 0;
        .step-text {
          font-size: 14px;
        }
        .step-number {
          width: 25px;
          height: 25px;
          margin-right: 8px;
          font-size: 14px;
        }
      }
      .upload-step:not(.active) {
        display: none;
      }
    }
  }
}
</style>